svg, svg#timeline{
    height: 100%;
    width: 100%;
}

line.event-lines {
	stroke-dasharray: 5;
    stroke: indianred;
    stroke-width: 3px;
}

.circles {
    r: 5;
}

.hidden {
    display: none;
}

div.events{
    font-size: x-small;
    padding: 2px 2px 2px 2px;
}

.svg-timeline{
    display:block;
}

.svg-buttons-div-111{
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 500px;
    width: 100%;
}

.svg-buttons-111{
    opacity: 25%;
}

.svg-buttons:hover{
    opacity: 100%;
    color: red;
}

b.event-balloon-text-head{
    color: white;
    text-decoration: underline;
}


/* CSS */
.svg-buttons {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  margin: 5px 5px 0px 0px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.svg-buttons:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.svg-buttons:focus {
  border-color: #4285f4;
  outline: none;
}