.searchSelectInput {
    width: 94px;
}

.searchTextInput {
    width: 120px !important;
    height: 100% !important;
    margin: 0px !important; 
}

.searchDateInput {
    width: 120px !important;    
    height: 100% !important;
}

.searchParent {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.searchParentExpanded {
    width: 400px;
}
@media only screen and (max-width: 600px)
{
    .searchParent {
    justify-content: left;
    margin-left: 25px;  
}
.searchParentExpanded {
    margin-top: 100px;
    width: max-content;
    margin-left: 0px !important;

}
.searchDateInput,.searchTextInput {
    width: 98px !important;    
}
}